<h2 class="page-header">New Books</h2>

<!-- <form action="/books" method="post" enctype="multipart/form-data"> -->
<form action="/books" method="post">
    <%- include('_form_fields') %>
    <a href="/books">Cancel</a>
    <button type="submit">Create</button>
</form>